.fr-img-wrap img {
    height: 160px;
    width: auto;
}

.blank-template {
    font-weight: bolder;
    font-size: 38px;
    color: #dc3545;
}

.home .wrapper {
    margin-top: 0 !important;
}

.bg-navbar {
    padding: .625rem 0;
    background-color: #7952b3;
}

.bg-footer {
    background-color: #7952b3;
}

footer div {
    font-size: 14px;
}

footer div a:hover, footer div a:focus {
    opacity: .6;
}